In [1]:
import pandas as pd

data = {
    'Name': ['Nurtas', 'Ayazhan', 'Nurtas', 'Madi', 'Ayazhan'],
    'Age': [28, 22, 28, 35, 22],
    'City': ['New York', 'London', 'New York', 'Paris', 'London']
}

df = pd.DataFrame(data)

# print(df.info())
print(df.duplicated())
df_cleaned = df.drop_duplicates()
print(df_cleaned)

0    False
1    False
2     True
3    False
4     True
dtype: bool
      Name  Age      City
0   Nurtas   28  New York
1  Ayazhan   22    London
3     Madi   35     Paris

In [3]:
data = {
    'Name': ['Ayazhan', 'Nazerke', 'Amina', 'Dariga', 'Nargiza'],
    'Age': [28, 22, 35, 120, 23],
}

df = pd.DataFrame(data)

Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_no_outliers = df[(df['Age'] >= lower_bound) & (df['Age'] <= upper_bound)]

print(df_no_outliers)

      Name  Age
0  Ayazhan   28
1  Nazerke   22
2    Amina   35
4  Nargiza   23

In [4]:
data = {
    'Name': ['Ayazhan', 'nazerke', 'Amina', 'DARIGA', 'Nargiza'],
    'City': ['New York', 'new york', 'London', 'london', 'PARIS']
}

df = pd.DataFrame(data)

df['Name'] = df['Name'].str.lower().str.title()
df['City'] = df['City'].str.title()

print(df)

   Name      City
0  John  New York
1  John  New York
2  Anna    London
3  Anna    London
4  Mike     Paris